#counter{
  border-radius: 50%;
  border:1px solid #ccc;
  position: absolute;
  top:5px;
  right:30px;
  font-size: 18px;
  padding: 6px;
  color:rgb(117, 7, 7);
  background-color: rgb(204, 245, 215);
  opacity: 0.6;
}